<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/contact.css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body text-center">
              <img src="/images/contact.png" />
              <p>
                Got a question? Feel free to drop us a message! Thank you for
                your interest in Option Clutch.
              </p>
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" />
              </div>
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" />
              </div>
              <div class="form-group">
                <label for="message">Message:</label>
                <textarea class="form-control" rows="3" id="message"></textarea>
              </div>
              <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="staticPhone"
                  value="+91637733545"
                />
              </div>
              <div class="form-group">
                <label for="compemail">Company Email:</label>
                <input
                  type="text"
                  readonly
                  class="form-control-plaintext"
                  id="staticEmail"
                  value="email@example.com"
                />
              </div>
              <button type="button" class="btn btn-success">Success</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
